body {
    max-width: 100vw !important;
    min-height: 100vh !important;
    background: linear-gradient(to top, crimson, transparent);

}

.cabecalho {
    display: flex;
    justify-content: center;
}

.barra {
    width: 40vw;
}

.barradepesquisa {
    display: flex;
    justify-content: center;
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: crimson;
    width: 100%;
    padding: 15px 0;
    color: black;
}

footer p {
    padding: 0 20%;
}

footer a {
    font-size: 12px;
    font-weight: 800;
    color: white;
    text-decoration: none;
}

